{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twitter</title>
    <link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:verified:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=verified&icon.size=24&icon.color=%2375FB4C">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b6685504b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{% static 'css/blog.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">



</head>
<body>
    <!-- side start -->
     <div class="sidebar">
        <i class="fab fa-twitter"></i>
        <div class="sideOption active"> 
            <span><i class="fa fa-home" ></i></span>
            <h2>Home</h2>
        </div>
        <div class="sideOption"> 
            <span><i class="fa fa-search" ></i></span>
            <h2>Explore</h2>
        </div>
        <div class="sideOption"> 
            <span><i class="fa fa-bell" ></i></span>
            <h2>notifications</h2>
        </div>
        <div class="sideOption"> 
            <span><i class="fa fa-envelope"></i></span>
            <h2>Messages</h2>
        </div> 
        <div class="sideOption"> 
            <span><i class="fa fa-cog"></i></span>
            <h2>settings</h2>
        </div>
        <a href="{% url 'blog:makepost' %}"><button class="sidebar-post">POST</button></a>
     </div>
     <!-- sidebar end -->
      <!-- feed start -->
<div class="feed">
    <div class="feed_header">
       
    </div>
    <!-- posts statr -->
    {% for post in posts %}
     <div class="post">
    
        <div class="post-avater">
            <img src="{{ post.author.profile.profile_picture.url }}" alt="Profile Picture">
        </div>
        <div class="post-body">
            <div class="post-header">
                <div class="post-nickname">
                    <h3>{{post.author}} <span class="date">{{ post.time_since_posted }}</span>
                    <span class="post-headerspecial">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z"/></svg><br>
                        <p>{{user.nicknmae}}</p>
                    </span>
                    </h3>
                </div>
                 <div class="post-headerdescription">
                    <a class="title" href="{% url 'blog:post_details' post.id %}">{{ post.title }}</a> 
                    <p class="post-text">{{ post.content|truncatewords:30|linebreaks }}</p>
                 </div>
            </div>
            <!-- <img src="images/profile-pic.jpeg" alt=""> -->
            <div class="post-footer">
                <i class="fa fa-comment"></i>
                <i class="fa fa-retweet"></i>
                <i class="fa fa-heart"></i>
                <i class="fa fa-bookmark"></i>
            </div>
            
        </div>
     
     </div>
     {% endfor %}
     <!-- <div class="post">
        <div class="post-avater">
            <img src="images/muhd.jpg" alt="">
        </div>
        <div class="post-body">
            <div class="post-header">
                <div class="post-headertext">
                    <h3>Muhd Bodejo
                    <span class="post-headerspecial">
                        <i class="fa-solid fa-certificate"></i></i><br>
                        <p class="nicknam">@muhdbadejo</p>
                    </span>
                    </h3>
                </div>
                 <div class="post-headerdescription">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusantium nam, 
                      </p>
                 </div>
            </div>
            <img src="images/car2.jpeg" alt="">
            <div class="post-footer">
                <i class="fa fa-comment"></i>
                <i class="fa fa-retweet"></i>
                <i class="fa fa-heart"></i>
                <i class="fa fa-bookmark"></i>
            </div>
        </div>
     </div>
     <div class="post">
        <div class="post-avater">
            <img src="images/daddy.jpg" alt="">
        </div>
        <div class="post-body">
            <div class="post-header">
                <div class="post-headertext">
                    <h3>Ahmad Saleh Adamu
                    <span class="post-headerspecial">
                        <i class="fa-solid fa-certificate"></i></i><br>
                        <p class="nicknam">@ahmadbadejo</p>
                    </span>
                    </h3>
                </div>
                 <div class="post-headerdescription">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusantium nam, 
                      </p>
                 </div>
            </div>
            <img src="images/dadpic.JPG" alt="">
            <div class="post-footer">
                <i class="fa fa-comment"></i>
                <i class="fa fa-retweet"></i>
                <i class="fa fa-heart"></i>
                <i class="fa fa-bookmark"></i>
            </div>
        </div>
     </div> -->
     <!-- post ends -->
</div>

<!-- widget start -->

 <!--<div class="widget"> -->

    <!-- <div class="widget-input">
        <span class="widget-search"> <i class="fa fa-search"></i></span>
        <input type="text" placeholder="search people ">
    </div>
    <div class="widget-container">
        <h2>trading gist</h2>
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">At dawn from the gateway to Mars, the launch of Starship’s second flight test 
                <a href="https://t.co/ffKnsVKwG4">pic.twitter.com/ffKnsVKwG4</a></p>
            &mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1732824684683784516?ref_src=twsrc%5Etfw">December 7, 2023</a></blockquote> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
 </div> 
 <!-- widget ends -->
  <div class="widget">
    <button class="sidebar-post"><a href="{% url  'users:profile'%}">Profile</a></button>
    <button class="sidebar-post"><a href="{% url  'users:users-sign-up'%}">sign-up</a></button>
    <button class="sidebar-post"><a href="{% url  'users:users-login'%}">log-in</a></button>
    <form method="POST" action="{% url 'users:users-logout' %}">
        {% csrf_token %}
        <button class="sidebar-post" type="submit">Log out</button>
    </form>

  
    <div class="post-avater">
        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
    </div>
    <button class="sidebar-post">{{user.username}}</button>
  </div>
       <!-- feed end -->
</body>
</html>
