{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap">
    <script src="https://kit.fontawesome.com/b6685504b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
</head>
<body>

    <div class="profile-card">
        <div class="profile-header">
            <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
            <h1>{{ user.profile.user.get_full_name }}</h1>
            <h3>{{ user.profile.nickname }}</h3>
            <h3>{{ user.profile.department }}</h3>
            <h6>{{ user.username }}</h6>
            <h6>EMAIL: {{ user.email }}</h6>
            <p class="bio-description">  <SPan>Bio</SPan>
                {{ user.profile.bio }}
            </p>
        </div>

        <div class="tags">
            {% for interest in profile.interests.all %}
                <span>{{ interest.name }}</span>
            {% empty %}
                <span>No interests listed.</span>
            {% endfor %}
        </div>

        <div class="social-links">
            <h5>Social Links</h5>
            <ul>
                {% if profile.instagram_url %}
                    <li><a href="{{ user.profile.instagram_url }}" target="_blank">{{ user.profile.instagram_url }}</a></li>
                {% endif %}
                {% if profile.linkedin %}
                    <li><a href="{{ user.profile.linkedin_url }}" target="_blank">LinkedIn</a></li>
                {% endif %}
                {% if profile.facebook %}
                    <li><a href="{{ user.profile.facebook_url }}" target="_blank">Facebook</a></li>
                {% endif %}
                {% if profile.tiktok %}
                    <li><a href="{{ user.profile.tiktok_url }}" target="_blank">Tiktok</a></li>
                {% endif %}
                {% if profile.youtube %}
                    <li><a href="{{ user.profile.youtube_url }}" target="_blank">YouTube</a></li>
                {% endif %}
            </ul>
       

 

    </div>
    <div><a href="{% url 'users:users-edit'%}">Edit Profile</a></div>
    <div><a href="{% url 'blog:index'%}">Home</a></div>
    <h1>{{ user.username }}'s Profile</h1>
    {% for post in posts %}
    <div class="post">
       <div class="post-avater">
           <img src="{{ post.author.profile.profile_picture.url }}" alt="Profile Picture">
       </div>
       <div class="post-body">
           <div class="post-header">
               <div class="post-nickname">
                   <h3>{{post.author}} <span class="date">{{ post.time_since_posted }}</span>
                   <span class="post-headerspecial">
                       <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FB4C"><path d="m344-60-76-128-144-32 14-148-98-112 98-112-14-148 144-32 76-128 136 58 136-58 76 128 144 32-14 148 98 112-98 112 14 148-144 32-76 128-136-58-136 58Zm34-102 102-44 104 44 56-96 110-26-10-112 74-84-74-86 10-112-110-24-58-96-102 44-104-44-56 96-110 24 10 112-74 86 74 84-10 114 110 24 58 96Zm102-318Zm-42 142 226-226-56-58-170 170-86-84-56 56 142 142Z"/></svg><br>
                       <p>{{user.nicknmae}}</p>
                   </span>
                   </h3>
               </div>
                <div class="post-headerdescription">
                   <a class="title" href="{% url 'blog:post_details' post.id %}">{{ post.title }}</a> 
                   <p class="post-text">{{ post.content|truncatewords:30|linebreaks }}</p>
                </div>
           </div>
           <!-- <img src="images/profile-pic.jpeg" alt=""> -->
           <div class="post-footer">
               <i class="fa fa-comment"></i>
               <i class="fa fa-retweet"></i>
               <i class="fa fa-heart"></i>
               <i class="fa fa-bookmark"></i>
           </div>
           
       </div>
    {%empty%}
       <h6>No post made by {{ user.username }}</h6>
     {%endfor%}
    
    </div>

    
</body>
</html>
